@tailwind base;
@tailwind components;
@tailwind utilities;

/* Premium touch */
html,
body,
#root {
  margin: 0;
  /* For full screen map experience */
  font-family: 'Inter', system-ui, sans-serif;
}